PORT=3003
NODE_ENV=development
DATABASE_URL=postgresql://postgres:postgres@team-postgres:5432/team_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=team_db
JWT_SECRET=my_secret
FRONTEND_URL_PERMISSION=http://localhost:5173
RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672
USER_SERVICE_URL=http://users-services:3001
