PORT=3007
NODE_ENV=development
DATABASE_URL=postgresql://postgres:postgres@project-postgres:5432/project_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=project_db
JWT_SECRET=my_secret
FRONTEND_URL_PERMISSION=http://localhost:5173
RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672