PORT=3005
NODE_ENV=development
DATABASE_URL=postgresql://postgres:postgres@tags-postgres:5432/tags_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=tags_db
JWT_SECRET=my_secret
FRONTEND_URL_PERMISSION=http://localhost:5173
RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672
TEAM_SERVICE_URL=http://team-services:3003