PORT=3004
NODE_ENV=development
DATABASE_URL=postgresql://postgres:postgres@card-postgres:5432/card_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=card_db
JWT_SECRET=my_secret
FRONTEND_URL_PERMISSION=http://localhost:5173
RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672
